body,
.navbar {
    background: #eee;
}

.bg-secondary {
    background: #F5F5F5;
}

.btn-transparent {
    background: transparent;
}

.btn-transparent:hover .fa-star {
    color: #FDD835;
}

.btn-transparent:hover:disabled .fa-star {
    color: inherit;
}

.close-red:hover {
    color: #FF0000;
}